.cp-abonne {
    
    color: rgb(216, 13, 206);
   
}
.cp-gsm {
    
    color: rgb(58, 6, 146);
   
}
.cp-internet {
    
    color: rgb(7, 138, 55);
   
}
.cp-fixe {
    
    color: rgb(225, 222, 9);
   
}

.cp-sce {
    
    color: rgb(189, 6, 18);
   
}
.cp-opr {
    
    color: rgb(7, 150, 178);
   
}